/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:1.5rem;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background:#222;
}
.splash {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
	z-index: 999;
	display:block;
    padding-top:50px;
}

.main-logo{
	margin: 0 auto;display:block;
	width: 300px;
	height: 300px;
}

.grid{
	margin-top:40px;
}

.grid-row{
	display:table;
	width:100%;
}

.grid-cell{
	display:table-cell;
	width: 33%;
	height: 200px;
	border: none;
    background:none;
    vertical-align:top;
}

.overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 99;
	display:none;
}

.overlay-inner{
	margin: auto;
	margin-top: 100px;
	width: 80%;
	min-height: 40%;
	border: 1px solid black;
	background-color: #fff;
    background-image:url(../img/slidecloud-bg.png);
    background-size:contain;
    background-repeat:no-repeat;
	padding: 20px 40px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	
}

h1 {
    font-size:2.75rem;
    font-weight:normal;
    margin:0px 0 40px 0;
    overflow:visible;
    padding:0px;
    text-align:center;
    color:#ffffff;
}

h2{
	font-size:2rem;
    line-height:1;
}

/* color grid cells */
.grid-cell .inner
{
    box-sizing:border-box;
    background:#646464;
    height: auto;
    min-height:200px;
    width:95% !important;
    margin:5px 2.5%;
	border: none;
    border-radius:2px;
	padding: 5px 5px;
}
.grid-cell .inner h2
{
    font-size:1.5rem !important;
}
.grid-cell .inner p
{
    font-size:1.5rem !important;
}
.grid-cell .inner .overlay-inner h2 {
    font-size:2rem !important;
}
.grid-cell .inner .overlay-inner p {
    font-size:2rem !important;
}

.grid-cell .inner h2 span{
    display:block;
    float:left;
    border-radius:50%;
    background:#222;
    color:#fff;
    padding:0.25rem 0.35rem;
    margin:-4px 3px 40px 2px;
    width:10%;
    text-align:center;
}
.inner.sky{background:#40B3C8;}
.inner.green{background:#6AB45D;}
.inner.orange {background: #E17637;}
.inner.red {background: #DF3E2E;}
.inner.grey {background: #BABABA;}
.inner.yellow {background: #FFC710;}